<div class="settings card shadow p-3">
    <div class="card-body">
        <h5 class="card-title text-white">
            User Settings
        </h5>
        <h6 class="card-subtitle text-muted mb-2">
            It's like a control panel. Except <em>we'll</em> be doing the <strong><em>controlling</em></strong> here.
        </h6>
        <div class="content text-white-50">
            Username: {{user.username}} <br>
            Email: {{user.email}} <br>
            Number of Posts: {{numPosts}} 
        </div>
    </div>
    <div class="card-footer d-flex flex-row-reverse">
        <button class="btn btn-block btn-danger" (click)="logOutHandler()">LOG OUT</button>
    </div>
</div>
