.jumbotron {
    padding: 1.75rem 0.75rem;
}

.title {
    font-size: 3rem;
}

.spacer {
    height: 5rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

app-new-post-card, app-user-details {
    position: sticky;
    top: 5rem;
}

.topper {
    margin-top: calc(3rem - 1px);
}

@media(max-width: 900px) {
    app-new-post-card, app-user-details {
        position: inherit;
    }
    .wrapper {
        grid-template: "left-content"
        "right-content"
        ".";
    }
    
    .topper {
        margin: 0;
    }
    
    #left-content {
        grid-area: left-content;
        margin-bottom: 2rem;
    }
    
    #right-content {
        grid-area: right-content;
    }

    #content {
        padding: 0 10%;
    }
}