<div class="card post-card bg-dark shadow-sm p-3">
    <div class="card-body text-white-50">
        <div class="header">
            <div class="title-container">
                <h4 class="card-title text-white">
                    {{post.title}}
                </h4>
                <h6 class="card-subtitle mb-2 text-secondary">
                    Posted by <span class="font-weight-bold text-info">@{{post.author}}</span> on <span class="text-success">{{post.date | date : "medium"}}</span>
                </h6>
            </div>
            <div class="row" *ngIf="user && post.author === user.username">
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle><fa-icon icon="cog"></fa-icon></button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="onEditPost()">Edit Post</button>
                            <button ngbDropdownItem (click)="onDeletePost()">Delete Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown-divider mb-3 mt-3"></div>
        <markdown ngPreserveWhitespaces emoji>
            {{post.body}}
        </markdown>
    </div>
</div>
