@import '../../../variables.scss';

:host {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.login-card {
    background-color: $accent;
    border-radius: 0.5rem;
    width: 30rem;
}

#input {
    margin: 2rem 0;
}

#option {
    border: 1px white solid;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.error-msg {
    margin-top: 1rem;
}