.container {
  display: grid;
  grid-template-columns: 20rem auto;
  width: max-content;
  column-gap: 3rem;
  margin: 0 auto;
}

.main {
  padding: 2rem 0 1rem 0;
}

.title {
  font-size: 3rem;
}

.title svg {
  height: 3rem;
  transform: rotate(-22.5deg);
}

.postContainer {
  display: grid;
  grid-template-columns: auto;
  margin-top: 2rem;
  row-gap: 3rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 10rem);
  padding-right: 5rem;
  width: 45rem;
}

.spinner {
  height: 7.5rem;
  width: 7.5rem;
}


@media(min-width: 1920px) {
  .loading {
    width: 60rem;
  }
}

@media(max-width: 1200px) {
  .loading {
    width: 40rem;
  }
}