.container {
  display: grid;
  grid-template-columns: 20rem auto;
  width: max-content;
  column-gap: 3rem;
  margin: 0 auto;
}

.main {
  padding: 2rem 0 1rem 0;
}

.title {
  font-size: 3rem;
}

.title svg {
  height: 3rem;
  transform: rotate(-22.5deg);
}

.postContainer {
  display: grid;
  grid-template-columns: auto;
  margin-top: 2rem;
  row-gap: 3rem;
}