.menu {
  background-color: var(--black);
  height: calc(100vh - 2rem);
  margin: 1rem;
  border-radius: 2rem;
  user-select: none;
  max-width: 15rem;
  position: sticky;
  top: 1rem;
  display: grid;
  grid-template-rows: 8rem auto auto 3rem;
  box-shadow: 0 0.3px 5.3px rgba(0, 0, 0, 0.02),
    0 1.1px 17.9px rgba(0, 0, 0, 0.03), 0 5px 80px rgba(0, 0, 0, 0.05);
}

.title {
  margin: 2rem 0;
  font-family: "Gilroy_semibold";
  font-size: 3rem;
  margin-bottom: -1rem;
  padding-left: 1rem;
}

.bottomTitle {
  text-align: center;
  filter: opacity(0.75);
}

.tab {
  width: calc(100% - 1rem);
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  margin-left: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  align-items: center;
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  font-family: "Gilroy_semibold";
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.button {
  height: 3rem;
  font-size: 1.5rem;
  padding: 0;
  outline: none;
  border: 0;
  background-color: var(--black);
  color: red;
  letter-spacing: 2px;
  width: 90%;
  margin: auto auto 2rem auto;
  font-family: "Gilroy_regular";
  font-weight: 700;
  cursor: pointer;
}